:root {
  --f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --f-mono: Consolas, "Roboto Mono", "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
  --f-serif: Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body, textarea, input, select {
  font-family: var(--f-sans);
  font-size: 16px;
  line-height: 1.6;
}

a:link,
a:visited {
  color: #0D47A1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font: 13px var(--f-mono);
  color: #333;
  background-color: transparent;
  padding: 0;
}

pre {
  line-height: 1.2;
}

blockquote {
  padding: 0 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-size: 16px;
  color: #555;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

address {
  font-style: normal;
}


main,
#mf,
#mh > nav {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 15px;
}

/* Masthead */


#mh {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.02);
}

#mh > nav {
  position: relative;
  padding: 5px;
}

#mh h1 {
  position: absolute;
  display: block;
  font-size: 18px;
  line-height: 1;
  margin: 0 20px 0 0;
}

#mh .logo {
  width: 54px;
  height: 64px;
}

#mh h1 a:link,
#mh h1 a:visited {
  text-decoration: none;
}

#mh a:link,
#mh a:visited {
  color: #444;
  white-space: nowrap;
  margin-right: 20px;
}

#mh ul {
  list-style: none;
  margin: 0 0 0 80px;
  padding: 5px;
}

#mh ul > li {
  display: inline-block;
}

/* Footer */

#mf {
  font-size: 14px;
  clear: both;
  margin-bottom: 10px;
  color: #665;
}


a.feed {
	display: inline-block;
	margin-right: 6px;
	padding: 1px 6px;
	border: 1px solid #665;
	border-radius: 3px;
	font-size: 10px;
	text-decoration: none;
	color: #443;
	vertical-align: text-top;
}


/* Posts */

.post-content,
.page-content {
  font-family: var(--f-serif);
  font-size: 18px;
  line-height: 1.5;
}

.post-content h2, .post-content h3 {
	font-family: var(--f-sans);
}

.post {
  margin: 0 30px 30px 0;
}

.page-header,
.post-title {
  margin: 30px 0 40px 0;
  padding: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.08349;
  font-size: 48px;
  letter-spacing: -.003em;
}

.post-title > a:link,
.post-title > a:visited {
  color: #333;
}

.post-title > a:hover {
  color: #666;
  text-decoration: none;
}

.post-content a:link {
  text-decoration: underline;
}

.post-content a:visited,
.archive a:visited {
  color: #512DA8;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-content > p:last-child {
  margin-bottom: 0;
}

.post-meta {
  font-size: 14px;
  color: #887;
  margin-top: 20px;
}

.post-date a {
  color: #777;
  text-decoration: none;
}

.post-more-link {
}

/* Comments for old imported posts */

.comments {
  margin: 30px 0;
  padding-top: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.comment {
  margin-top: 20px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #999;
}

.comment-date:before {
  content: ' / ';
}

.comment-body {
  padding-left: 15px;
}

figcaption {
  color: #777;
  font-style: italic;
  text-align: center;
  font-size: 80%;
}

.articles .date {
/*   font-variant-numeric: tabular-nums; */
  font-size: 13px;
  font-family: var(--f-mono);
  text-align: right;
  color: #665;
  white-space: nowrap;
  vertical-align: baseline;
  padding-top: 4px;
}

.articles .title {
  padding-left: 10px;
}

sup {
  vertical-align: top;
  position: relative;
  top: -4px;
}

aside {
	background: rgba(0, 0, 0, 0.01);
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 18px 28px;
	opacity: 0.9;
}

aside h3 {
	color: #887;
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}

aside ul {
	padding-left: 20px;
	margin-bottom: 0;
}