<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> {{with .Page.description}}
	<meta name="description" content="{{.}}">{{end}} {{with .Page.keywords}}
	<meta name="keywords" content="{{.}}">{{end}}
	<link rel="alternate" type="application/atom+xml" href="{{.Site.URL}}/atom.xml" title="dchest.com Atom feed">
	<link rel="alternate" type="application/json" href="{{.Site.URL}}/feed.json" title="dchest.com JSON feed">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="shortcut icon" href="/img/favicon.png?v=1" />
	<link rel="preconnect" href="https://you.codingrobots.com">
	<title>{{with .Page.seo_title}}{{.}}{{else}}{{.Page.title}} - {{.Site.Name}}{{if .Page.is_post}}{{end}}{{end}}</title>
	<style>{{asset "global-css"}}</style>
	{{if .Page.book_css}}<style>{{asset "book-css"}}</style>{{end}}
</head>

<body>
	<header id="mh" data-kkr-search="noindex">
		<nav>
			<h1><a href="/"><img src="/img/dchest-website.webp" class="logo" alt="Dmitry Chestnykh" title="Home page"></a></h1>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/authbook/">Book</a></li>
				<li><a href="https://www.codingrobots.com">Apps</a></li>
				<li><a href="{{.Site.Properties.urls.twitter}}">Twitter</a></li>
			</ul>
		</nav>
	</header>

	{{.Content }}

	<footer data-kkr-search="noindex">
	<div id="mf">
		<a href="/atom.xml" class="feed atom">Feed</a>
		&copy; 2011-{{.Site.Date.Format "2006"}} &nbsp; <a rel="author" href="/about/">{{.Site.Author}}</a> &nbsp; &#183; &nbsp; 
		<a href="/terms/">Terms</a> &nbsp; &#183; &nbsp; 
		<a href="/search/"><a href="/search/">Search</a>
	</div>
	</footer>
{{ include "analytics.html" }}
</body>

</html>
