---
layout: blog
title: dchest.org
seo_title: dchest.org
description: Dmitry Chestnykh's blog about tools, online business, technology, programming, and life.
---

{{range .Site.Posts.Limit 10}}
<article class="post">
  <header>
    <h2 class="post-title"><a href="{{.Meta.url}}">{{.Meta.title}}</a></h2>
  </header>

  {{if .ShortContent}}
    <div class="post-content">
      {{.ShortContent}}
    </div>
    <p><a class="post-more-link" href="{{.URL}}#more">Continue reading »</a></p>
  {{else}}
    <div class="post-content">
      {{.Content}}
    </div>
  {{end}}
  </div>

  <footer class="post-meta">
    <div class="post-date">
      <a href="{{.Meta.url}}">{{.Date.Format "02 January 2006"}}</a>
    </div>
  </footer>
</article>
{{end}}

<footer class="blog-footer">
  <a href="/archive/" class="btn btn-o">All articles</a>
</footer>
